<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>スタフェス</title>
</head>

<header>
    <div class = "headerclass">
        <div class="home">
            <a href="">
                <img src="{{ url_for('static', filename='images/home_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png') }}" alt="スタフェス" class="logo" height="40px">
            </a>
        </div>
    </div>
</header>
<body>

    <!-- currentCoinとexpを表示 -->
    <p>コインの枚数: <span id="currentCoin"></span></p>
    <p>経験値: <span id="exp"></span></p>

    <form action="/update" method="POST">
        <label for="study_time">勉強時間 (自然数)</label>
        <input type="number" id="study_time" name="study_time" required min="1" />

        <button type="submit">変換</button>
    </form>

    <script>
        // ページロード時にAPIからデータを取得して表示
        fetch('/api/data')
            .then(response => response.json())
            .then(data => {
                document.getElementById('currentCoin').textContent = data.currentCoin;
                document.getElementById('exp').textContent = data.exp;
            })
            .catch(error => console.error('Error:', error));
    </script>
</body>
</html>