<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>スタフェス</title>
</head>

<header>
    <div class = "headerclass">
        <div class="home">
            <a href="">
                <img src="{{ url_for('static', filename='images/home_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png') }}" alt="スタフェス" class="logo" height="40px">
            </a>
        </div>
    </div>
</header>
<body>
    {% block content %}
    <!-- ここにメインコンテンツを書く -->
    {% endblock %}
</body>
</html>